<div class="layoutWraper">
    <layout-header></layout-header>
	<section class="layout">
	<div class="nav">
		    <ul>
      <li><a href="IndianVisaOnline/tvoa.html" class="tab1">Apply e-Visa
INDIA</a></li>
      <li><a href="IndianVisaOnline/searchapplication.html" class="tab2">Amend or Complete Partialy<br>
Filled Form</a></li>
      <li><a href="IndianVisaOnline/payment.html" class="tab3">Make Payment for
Completed<br> Form</a></li></ul>
     </div>
	 <div class="clear"></div>
	 <section>
	 <layout-sidebar></layout-sidebar>
	 <router-outlet></router-outlet>
	 </section>
	</section>
    <layout-footer></layout-footer>
</div>
