<div class="layoutWraper">
    <layout-header></layout-header>
	<section class="layout">
	<div class="nav">
		    <ul>
      <li><a  routerLink="/applyvisa"
		routerLinkActive="active" class="tab1">Apply e-Visa
INDIA</a></li>
      <li><a  class="tab2" routerLink="/partial-filled"
		routerLinkActive="active" >Amend or Complete Partialy<br>
Filled Form</a></li>
      <li><a class="tab3" routerLink="/make-payment"
		routerLinkActive="active">Make Payment for
Completed<br> Form</a></li></ul>
     </div>
	 <div class="clear"></div>
	 <section>
	 <layout-sidebar *ngIf="removeSidebarforAllForms()"></layout-sidebar>
	 <router-outlet></router-outlet>
	 </section>
	</section>
    <layout-footer></layout-footer>
</div>
