<div class="global-form form7">
    <div class="pageHeading1 text_center">
Document Upload     
<a href=""><img align="right" src="../../assets/images/home.png" style=" width: 30px; height:26px; margin-top:4px; margin-right:5px; "></a>
</div>
<div class="row text_center" style="font-size:14px;color:#3873E0;font-weight: bold">
Document to be uploaded for Temporary Application Id:-<span class="red_heading text_bold">112415013343KZL</span>  
</div>                 

<div class="row docs_list" style="padding-left:20px;">
<div class="col-31 text-bold">Document description</div>
<div class="col-32 text-bold"></div>
<div class="col-33 text-bold">Status</div>
</div>                       


<div class="row docs_list" style="padding-left:20px;">
<div class="col-31">1) Copy of Passport page containing personal particulars</div>
<div class="col-32">



<input type="file" name="mFile" value="" id="mFile_1" class="mFile_class" onclick="$('#doc_id').val(1)">

<br>
<br>

<br>

<input type="submit" class="btn btn-primary" name="submit_btn" value="Upload Document" onclick="$('#doc_id').val('1')" style="padding:5px;">



</div>
<div class="col-33"><span class="text_notuploaded_class">Not Uploaded</span></div>
</div>
<div class="error_display"></div>
   



<div class="row text_bold" style="padding-left:20px; background-color:#FFFF99;"> <br><br>
Kindly ensure that the document is as per specifications mentioned below.
<ul class="instructions_ul text_bold" style="padding:0 80px">
<li class="text_important">All documents uploaded by the applicant including business cards,invitation letters etc. must be in English language, failing which e-Visa application would be liable for rejection.
</li>
<li>
Format  PDF 
</li>
<li>
Size  Minimum 10 KB
</li>
<li>
Maximum 300 KB
</li>
<li>
Passport Upload- Photo page of Passport containing personal details like name,date of birth, nationality , expiry date etc. to be uploaded by the applicant.                                            
</li>
<li class="text_important">
Photo page of Passport uploaded should be of the same passport whose details are provided in Passport Details section.                                            
</li>
<li class="text_important">
The application is liable to be rejected if the uploaded document is not clear and as per specification. 
</li>
</ul>
</div>
<div class="row" style="text-align:center">
<input type="checkbox" id="verifyDoc" style="width:auto;text-align: center;"> 
I have verified that all the documents are uploaded as per the requirement.<br>
<input name="submit_btn" type="submit" class="btn btn-primary1" id="continue" value="Confirm" (click)="goToNext()"><br><br>

</div>
<div style="text-align: center;font-weight: bold;color:#C61919">

</div>      
    </div>