<div class="col-md-12 col-sm-12 col-xs-12">
            <section class="visa_process">
                   <div class="block-index">
      <h3 style="text-align:center"><a href="javascript:;" target="_self" title="EXTRA SERVICES" style="color:#ff9933;text-decoration: none; font-size: 18px;
    font-weight: 600;cursor:default;">SERVICES PROVIDED BY E-VISA INDIA</a></h3>
       <a href="javascript:;" title="Extra Service" target="_self" style="cursor:default;"><div class="icon-services"></div></a>
      <ul>
               <!-- <li> Airport Transfers. </li>
                <li> Tour Guide arrangement</li>
                <li> Other Holiday Services </li>
                <li> Accomodation Service </li>
                <li> Local Tour Arrangements </li>
                <li> Sri Lanka and Myanmar VOA </li>-->
                <li><strong class="red">Customer Care:</strong> Customer Care available 24X7 Over the Phone as well as email.</li>
                  <li><strong class="red">Processing:</strong> Maximum 4-7 days processing time.</li>
                  <li><strong class="red">Quality Check:</strong> Quality Check and Required Correction is done against all the information and documents provided in the applications in order to achieve maximum approval ratio.</li>
              </ul>
    </div>
    <div class="block-index">
       <h3 style="text-align:center"><a href="javascript:;" target="_self" title="5 REASONS TO CHOOSE INDIA E-VISA" style="color:#ff9933;text-decoration: none; font-size: 18px;font-weight: 600;cursor:default;">5 REASONS TO CHOOSE E-VISA INDIA</a></h3>
      <a href="javascript:;" title="5 REASONS TO CHOOSE INDIA E-VISA" target="_self" style="cursor:default;"><div class="icon-reason"></div></a>
      <ul style="margin-top: 31px;">
    <li><strong class="red">Hassle-free:</strong>Completely online procedure, no paper work involved.</li>
    
    <li><strong class="red">Convenient:</strong> Applicable for selective Nationalities for Air and Sea Routes.</li>
  
    <li><strong class="red">Cheaper:</strong> Fixed fees, no hidden charges</li>
    <li><strong class="red">More accessible:</strong> Quickes and most relaible method of getting Indian Visa.</li>
</ul>    </div>
    <div class="block-index" style="background:none;">
  
      <h3 style="margin:21px 0 10px 0;text-align: center"><a href="javascript:;" target="_self" title="INDIA E-VISA LASTEST NEWS" style="color:#ff9933;text-decoration: none; font-size: 18px;font-weight: 600;cursor:default;">E-VISA INDIA LASTEST NEWS</a></h3>
        <a href="javascript:;" title="INDIA E-VISA LASTEST NEWS" target="_self" style="cursor:default;"><div class="icon-news" style="cursor:normal"></div></a>
      
     <ul style="margin-top: 31px;">
        <li> <a href="" style="text-decoration: none; color:#000;">More Than 700 Per cent Increase in Tourist Arrivals on E-Visa.</a> </li>
        <li> <a href="" style="text-decoration: none; color:#000;">India saw a jump in foreign tourists in April 2017.</a> </li>
        
      </ul>

    </div>

                </section>
          
         </div>