<footer>
     <div class="container">
     <div class="row">
      <div class="footer_inner">
     <div class="col-md-12 col-sm-12 col-xs-12">
    
      
     <div class="col-md-7 col-sm-12 col-xs-12">
      <div class="left-sctonfoooter">
     <div class="menufter">
                        <ul>
                            
							<li><a routerLink="/disclaimer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" title="Disclaimer">*Disclaimer</a></li>
                            <li><a routerLink="/applyvisa"
                              routerLinkActive="active"
                              [routerLinkActiveOptions]="{ exact: true }" title="Urgent Apply">Urgent Apply</a></li>
							 <li><a routerLink="/sitemap"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" title="Sitemap">Sitemap</a></li>
                            <li><a routerLink="/contactus"
                              routerLinkActive="active"
                              [routerLinkActiveOptions]="{ exact: true }" title="Contact Us">Contact Us</a></li>
                      </ul>
                    </div>
                    
                    <div class="footercontain" style="color:#000; text-align:justify; margin-left:10px;">
                           <div align="justify" style=" margin-top: 8px;"><strong style="font-size:16px; font-weight: 100;"><b style="font-size:14px; color:#f48020;">
                            Disclaimer: www.e-visaindia.com is the website to obtain the Official India e-Visa. This is a commercial website and you will be charged a fee for using our services. Read the Terms and Conditions carefully before submitting the Indian Visa Online Application.
                            
                            
                        
</b></strong></div><b style="font-size:14px; color:#f48020;">

                                	<img class="img-visa" src="https://www.e-visaindia.com/images/visa.png" alt="visa apply" style="margin-left:-10px;">
                                 
                	 </b></div><b style="font-size:14px; color:#f48020;">
     </b></div><b style="font-size:14px; color:#f48020;">
     </b></div><b style="font-size:14px; color:#f48020;">
     <div class="col-md-3 col-sm-4 col-xs-12">
     
     <div class="paypal_bottom">
    
                                	<img class="img-visa" src="https://www.e-visaindia.com/images/siteseal_gd_3_h_l_m.gif" alt="security" style="    margin-left: 18px;margin-bottom: 11px;margin-top: 10px;">
                                 
                                 
                			 <div class="footer_ft line11" style="margin-top:19px;">
                             
						
<a href="https://www.facebook.com/EvisaIndia" rel="nofollow" target="_blank"><img src="https://www.e-visaindia.com/images/facebook.png" rel="nofollow" alt="E Visa Facebook" width="36" height="36" border="0" class="lftimg" title="facebook"></a>
<a href="https://twitter.com/EvisaIndia" rel="nofollow" target="_blank"><img src="https://www.e-visaindia.com/images/twitter.png" width="36" height="36" border="0" class="lftimg" rel="nofollow" title="twitter"></a>

<a href="https://www.pinterest.com/EvisaIndia" rel="nofollow" target="_blank">
	<img src="https://www.e-visaindia.com/images/pinterest.png" width="36" height="36" border="0" class="lftimg" rel="nofollow" title="pinterest" alt="E Visa India"></a>
    <a href="https://e-visaindia.blogspot.com" rel="nofollow" target="_blank">
     <img class="lftimg" src="https://www.e-visaindia.com/images/blogger.png" alt="E-Visa Blog" width="36" title="Blog" height="36"></a>
         					
    </div>
    							
                                  <div align="justify" style=" margin-top: 8px;"><strong style="font-size:14px; font-weight: 100;">
                                      *This is a commercial website
                                  </strong></div>
                                
                    	 </div>
                         
     </div>
     
      <div class="col-md-2 col-sm-4 col-xs-12">
      
        
        
      <div class="footertable">
                               <table cellpadding="0" cellspacing="0" border="0"><tbody><tr>
                                   <td><a href="http://www.ebs.in/" rel="nofollow" target="_blank">
                                            <img src="https://www.e-visaindia.com/images/payment_options_sans_mc.gif" alt="EBS" class="img-responsive img-bank"></a>
                                     </td></tr>
                               </tbody></table>
                           </div>
                           
      </div>
      <div class="col-sm-4 col-xs-12">
      
      <div class="img-secure">
       <img src="https://www.e-visaindia.com/images/sidebar1.png" alt="Secured" border="0">
       </div>
       
      </div>
     
     </b></div><b style="font-size:14px; color:#f48020;">
     
     <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="footer-copy">©copyright 2018 by Rohin Infotech Pvt. Ltd.</p>
     </div>
          </b></div><b style="font-size:14px; color:#f48020;">

     </b></div><b style="font-size:14px; color:#f48020;">
    </b></div><b style="font-size:14px; color:#f48020;">
     </b></footer>