<footer>
		<section class="layout">
        	<div class="verify">&nbsp;</div>
            <div class="footerLeft"><span>*Disclaimer:</span> www.indiaonlinevisas.org.in website provides you e-visa services to India. This is a commercial website to apply for visa to India where you will be charged a fee for using our services. You can also apply through the direct official source. Kindly read all our Terms and Conditions carefully before using our services.</div>
            <div class="footerPay"><img src="../../assets/images/footerPayment.png" alt=""></div>
        </section>
    </footer>