 
 <header>
    <div class="container">
          <div class="row">
        <div class="headertop">
              <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="logo"> <a routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }" ><img src="https://www.e-visaindia.com/images/logo-4.png" alt="E-Visa India" title="E-Visa India" class="img-responsive" /></a> 
          
			  </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
         
          </div>
		  
              <div class="col-md-4 col-sm-4 col-xs-4">
           
          </div>
            </div>
        <div id="nav">
             
              <nav class="clearfix">
            <ul class="clearfix">
            <li class="first"><a class="active" routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
     
            <li class="first1"><a routerLink="/applyvisa"
              routerLinkActive="active"  title="Urgent Visa>Apply Urgent Visa">Apply Urgent Visa</a></li>
         
            <li><a routerLink="/document"
              routerLinkActive="active"  title="Document Requirement">Document Requirement</a></li>
          
            <li><a routerLink="/instruction"
              routerLinkActive="active"   title="Instructions for Applicant">Instructions</a></li>
      
          
           <li><a routerLink="/term"
            routerLinkActive="active" title="Terms & Conditions">Terms & Conditions</a></li>
          
           <li><a routerLink="/privacy"
            routerLinkActive="active"  title="Privacy-Policy">Privacy-Policy</a></li>
        
           <li><a routerLink="/aboutus"
            routerLinkActive="active"  title="About-Us">About-Us</a></li>
          
           <li><a routerLink="/contactus"
            routerLinkActive="active"  title="Contact-Us">Contact Us</a></li>
                 
                </ul>
          </nav>
            </div>
      </div>
        </div>
    <!---------------------------------------------------------start slider------------------------------------------>
    
    <div class="banner">
	<img src="../../../assets/images/banner.jpg" alt="E-Visa India" border="0" class="img-responsive" style="width: 100%;">
	</div>
    
  </header>
<div class="container">
    <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-4"> <a href="etv/info1.php"><img src="https://www.e-visaindia.com/images/appliction-1.png" alt="apply" style="margin-left:55px; position:relative; z-index:10; border-radius:5px; margin-top:-20px;" class="img-responsive"></a> </div>
          <div class="col-md-4 col-sm-4 col-xs-4"> <a href="etv/searchapplication.php"><img src="https://www.e-visaindia.com/images/complatefill.png" alt="apply" style="margin-left:46px; position:relative; z-index:10; border-radius:5px; margin-top:-20px;" class="img-responsive"></a> </div>
          <div class="col-md-4 col-sm-4 col-xs-4"> <a href="etv/payment.php"><img src="https://www.e-visaindia.com/images/print-registered.png" alt="apply" style="position:relative; z-index:10; margin-left:38px; border-radius:5px; margin-top:-20px;" class="img-responsive"></a> </div>
         
        </div>  
		
  </div>