<header>
<div class="container">
<div class="row">
<div class="col-md-12">
<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>  
      
    <a class="navbar-brand mr-auto" routerLink="/"><img src=""></a>    
   <div class="collapse navbar-collapse navbar-right login-menu my-2 my-lg-0" id="navbarSupportedContent">

    <ul 
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/report-availability"
           routerLinkActive="active">
          &nbsp;Report Availability
        </a>
      </li>
        <li class="nav-item">
            <a class="nav-link"
               routerLink="/data-quality"
               routerLinkActive="active">
                &nbsp;Data Quality
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               routerLink="/data-dictionary"
               routerLinkActive="active">
                &nbsp;Data Dictionary
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               routerLink="/training"
               routerLinkActive="active">
                &nbsp;Training
            </a>
          </li>
    </ul>
</div>
</nav>
</div>
</div>
</div>
</header>
<div class="clearfix">&nbsp;</div>