<div class="leftWrap">
	<h3>NEED HELP 24/7</h3>
      <ul class="contactLi">
        <li class="f1">+919582319080</li>
        <li class="f2">info@indiaonlinevisas.org.in</li>
      </ul>
	       <div class="payWrap1">
        <p><img src="../../assets/images/secureImg.gif"></p>
        <p><img src="../../assets/images/g_security.png"></p>
		<p><img src="../../assets/images/payment-processor1.png"></p>
              </div>
      <h3>Useful Information</h3>
      <ul class="leftLink">
	  <li><a routerLink="/" routerLinkActive="active">Group Visa India</a></li>
       <li><a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
	    <li><a routerLink="/eligible-countiies" routerLinkActive="active">Eligible Countries</a></li>
		 <li><a routerLink="/evisa-fee" routerLinkActive="active" >e-Visa Fee</a></li>
        <li><a routerLink="/instruction" routerLinkActive="active" >Instructions for Applicant</a></li>
        <li><a routerLink="/document" routerLinkActive="active" >Document Requirement</a></li>
		        <li><a routerLink="/privacy" routerLinkActive="active" >Privacy Policy</a></li>
					<li><a routerLink="" routerLinkActive="active" >Universal Terms &amp; Service</a></li>
					 <li><a routerLink="/payments" routerLinkActive="active" >Payment Guidelines</a></li>
				<li><a routerLink="/refund" routerLinkActive="active" >Refund Policy</a></li>
				<li><a routerLink="/services" routerLinkActive="active" >Services</a></li>
     	 <li><a routerLink="/faq" routerLinkActive="active" >FAQs</a></li>
		  <li><a routerLink="/contactus" routerLinkActive="active" >Contact us</a></li>
		
      </ul>
      
      
    </div>