<div class="col-md-3 col-sm-12 col-xs-12">
            <div class="col_left">
                  <div class="col-md-12 col-sm-12 col-xs-12">
<div class="left_bar_inner">
								<h3><img src="https://www.e-visaindia.com/images/c6.png" style=" width: 27px;margin-top: -5px;margin-bottom: -9px; margin-right: 10px;">24/7 Customer Care</h3>
								<ul>
                                <li style="font-size: 15px;font-family: Tahoma,Geneva,sans-serif;background:url(https://www.e-visaindia.com/images/c5.png) no-repeat 3%;border-bottom: 1px solid #dad9d9;padding: 8px 0px 8px 42px;color: #0082dc;margin-top: 40px;">support@evisaindia.com </li>
									<li style="font-size: 12px;font-family: Tahoma,Geneva,sans-serif;background:url(https://www.e-visaindia.com/images/c2.png) no-repeat 4%;border-bottom: none;padding: 8px 0px 8px 47px;">USA +1 646 893 7849</li>
									<li style="font-size: 12px;font-family: Tahoma,Geneva,sans-serif;background:url(https://www.e-visaindia.com/images/c1.png) no-repeat 4%;border-bottom:none;padding: 8px 0px 8px 47px;">UK +44 203 411 6786</li>
									<li style="font-size: 12px;font-family: Tahoma,Geneva,sans-serif;background:url(https://www.e-visaindia.com/images/c3.png) no-repeat 4%;border-bottom: none;padding: 8px 0px 8px 47px;">AUS +61 283 107 380</li>
                                    <li style="font-size: 12px;font-family: Tahoma,Geneva,sans-serif;background:url(https://www.e-visaindia.com/images/c4.png) no-repeat 4%;border-bottom: none;padding: 8px 0px 8px 47px;">IND +91 11 2551 1088</li>
                                    
                                    <li style="font-size: 13px;font-family: Tahoma,Geneva,sans-serif;background:transparent;border-bottom: none;color: #0082dc;padding: 8px 0px 8px 38px;">Worldwide phone support</li>
									
								</ul>
							</div>
                            
                            
                            <div class="left_bar_inner">
								<h3>Indian Visa Information</h3>
								<ul>
									<li style="margin-top: 38px;"><a href="etv/info1.php" target="_parent" title="Urgent Visa>Apply Urgent Visa">e-Visa India</a></li>
									<li><a href="instruction1.php" target="_parent" title="Instructions for Applicant">Instructions for Applicant</a></li>
									<li><a href="document.php" target="_parent" title="Document Requirement">Document Requirement</a></li>
                                    <li><a href="privacy.php" title="Privacy-Policy">Privacy Policy</a></li>
                                    <li><a href="term.php" title="Terms &amp; Conditions">Terms Conditions</a></li>
                                    <li><a href="disclaimer1.php" title="Disclaimer">*Disclaimer</a></li>
                                    <li><a href="about.php" title="About-Us">About Us</a></li>
									<!--<li><a href="#">FAQs-Payment Related</a></li>-->
								</ul>
							</div>



<div class="left_bar_inner">
             
                      <div class="imgsidebar"><img src="https://www.e-visaindia.com/images/sidebar.png" alt="Visa Online" style=" border-radius:5px;width:100%;"> </div>
                    </div>
                    
                    
                     <div class="left_bar_inner">
                            <img src="https://www.e-visaindia.com/images/3dsecure.gif" alt="" style="width: 225px;">
                            </div>
                            <div> <a href="https://seal.godaddy.com/verifySeal?sealID=ToodJd4tH09uOzItvUykMobyFs0dCU6CU3umcLputvll3Xe2uZDoxK3UexQk" target="_blank"><img src="https://www.e-visaindia.com/images/godaddy_security_seal.png" alt="" style="width: 224px;margin-left: 11px;"></a>
                            </div>
                    
                    
               
             </div>
                          </div>
          </div>