<div class="leftWrap">
	<h3>NEED HELP 24/7</h3>
      <ul class="contactLi">
        <li class="f1">+919582319080</li>
        <li class="f2">info@indiaonlinevisas.org.in</li>
      </ul>
	       <div class="payWrap1">
        <p><img src="../../assets/images/secureImg.gif"></p>
        <p><img src="../../assets/images/g_security.png"></p>
		<p><img src="../../assets/images/payment-processor1.png"></p>
              </div>
      <h3>Useful Information</h3>
      <ul class="leftLink">
	  <li><a href="IndianVisaOnline/tvoa.html">Group Visa India</a></li>
       <li><a href="About-Us.html">About Us</a></li>
	    <li><a href="Countries.html">Eligible Countries</a></li>
		 <li><a href="Visa-Fees.html">e-Visa Fee</a></li>
        <li><a href="Instruction.html">Instructions for Applicant</a></li>
        <li><a href="Document-Requirement.html">Document Requirement</a></li>
		        <li><a href="Privacy-Policy.html">Privacy Policy</a></li>
					<li><a href="Terms-conditions.html">Universal Terms &amp; Service</a></li>
					 <li><a href="payment-guidelines.html">Payment Guidelines</a></li>
				<li><a href="Refund.html">Refund Policy</a></li>
				<li><a href="Services.html">Services</a></li>
     	 <li><a href="faq.html">FAQs</a></li>
		  <li><a href="Contact-Us.html">Contact us</a></li>
		
      </ul>
      
      
    </div>