<div class="global-form form8">
    <div class="pageHeading1 text_center">
Confirm Details    
<a href=""><img align="right" src="../../assets/images/home.png" style=" width: 30px; height:26px; margin-top:4px; margin-right:5px; "></a>
</div>
<div class="text_left">
<table width="90%">
<tbody><tr>
<td class="red_heading text_bold text_center" style="padding-left: 100px;padding-right: 100px; color:#333333;"><span class="red_heading text_bold text_center" style="padding-left: 100px;padding-right: 100px; color:#333333;"> <br>
The applicant is requested to verify the particulars filled in the application Form.The applicant may face legal action(including refusal to enter India or deportation) in case of provision of wrong information. </span></td>
<td colspan="5" rowspan="4" valign="middle" class="red_heading text_bold text_center" style="padding-top:12px;"><img width="150" height="150" src="../../assets/images/pic-avtar.png" class="image-last"></td>
</tr>
<tr>
<td class="text_center"> Please verify your Registration Details.&nbsp;&nbsp;&nbsp;If all details are correct please Press <span class="red_heading"><strong>"Verified and Continue"</strong></span><strong>. </strong></td>
</tr>
<tr>
<td class="text_center"> For any corrections press <span class="red_heading"><strong>"Modify/Edit"</strong></span> </td>
</tr>
<tr>
<td><span class="text_center"> Please note down the Temporary Application ID:<span class="red_heading text_bold"> 112415013343KZL</span><br>
<br>
</span></td>
</tr>
</tbody></table>
<div align="center"></div> 
</div>
<div class="row">                            
<div class="col-11">Applicant Details</div>                           
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Surname (as shown in your Passport)</div>
<div class="col-32">SADF</div>
<div class="col-33">Surname/Family Name (As in Passport)</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Given Name/s (Complete as in Passport)</div>
<div class="col-32">ASDF   </div>
<div class="col-33">Given Name/s (As in Passport)</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">                     
<div class="col-31 mandatory">Have you ever changed your name? </div>
<div class="col-32"> NO </div>
<div class="col-33"></div>
</div>


<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Gender</div>
<div class="col-32">                                 



FEMALE


                    
</div>
<div class="col-33">Gender</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Date of Birth</div>
<div class="col-32 text_bold">19/07/1970                            
</div>
<div class="col-33">Date of Birth as in Passport in DD/MM/YYYY format</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Town/City of birth</div>
<div class="col-32">ASDFSDF</div>
<div class="col-33">Province/Town/City of birth</div>
</div>

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Country of birth</div>
<div class="col-32">
AMERICAN SAMOA                          
</div>
<div class="col-33">Country of birth</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Citizenship/National Id No.</div>
<div class="col-32">ASDFSD</div>
<div class="col-33">If not applicable Please Type NA</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Religion</div>
<div class="col-32"> 
                     





CHRISTIAN
















                      

</div>
<div class="col-33">If Others .Please specify</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Visible identification marks</div>
<div class="col-32">WERWER</div>
<div class="col-33">Visible identification marks</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Educational Qualification </div>
<div class="col-32">
                  



GRADUATE
















</div>
<div class="col-33">Educational Qualification</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Nationality </div>
<div class="col-32 text_bold">ICELAND                                                    
</div>
<div class="col-33">Nationality</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Did you acquire Nationality by birth or by naturalization? </div>     
<div class="col-32">
BY BIRTH                               
</div>
<div class="col-33">Did you acquire Nationality by birth or by naturalization?</div>
</div>

<div class="row">
<div class="col-312">Have you lived for at least two years in the country where you are applying visa?
NO
</div>                       
<div class="col-33"></div>
</div>
<div class="row">                            
<div class="col-11">Passport Details</div>                           
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Passport Number </div>                        
<div class="col-32">SDFSDF</div>
<div class="col-33">Applicant's Passport Number</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Place of Issue </div>                        
<div class="col-32">SDFSDF</div>
<div class="col-33">Place of Issue</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Date of Issue </div>                        
<div class="col-32">04/07/2017</div>
<div class="col-33">In DD/MM/YYYY format</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Date of Expiry </div>                        
<div class="col-32">08/07/2026 </div>
<div class="col-33">In DD/MM/YYYY format</div>
</div>

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-312">Any other valid Passport/Identity Certificate(IC) held,
NO
</div>                       
<div class="col-33"></div>
</div>





<div class="row">                            
<div class="col-11">Applicant's Address Details</div>                           
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">House No./Street</div>
<div class="col-32">ASDF</div>
<div class="col-33">Applicant's Present Address. Maximum 35 characters (Each Line)</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Village/Town/City</div>
<div class="col-32">ASDFSDA</div>
<div class="col-33">Village/Town/City</div>
</div>

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">State/Province/District</div>
<div class="col-32">ASDFSDF</div>
<div class="col-33">State/Province/District</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Postal/Zip Code</div>
<div class="col-32">SADFSD</div>
<div class="col-33">Postal/Zip Code</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Country</div>
<div class="col-32"> 
ALBANIA

</div>
<div class="col-33">Country</div>
</div>
<div class="row">
<div class="col-31">Phone No.</div>
<div class="col-32">
9889898989
</div>
<div class="col-33">One Contact No is Mandatory</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Mobile No.</div>
<div class="col-32"></div>
<div class="col-33">Mobile Number</div>
</div>                        
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Email Address</div>
<div class="col-32 text_bold">
TEST@GMAIL.COM
</div>
<div class="col-33">Email Address</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-312">
Permanent Address
</div>                       
<div class="col-33">
</div>
</div>



<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">House No./Street</div>
<div class="col-32">ASDF</div>
<div class="col-33">Applicant's Permanent Address(with Postal/Zip Code)</div>
</div>

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Village/Town/City</div>
<div class="col-32">ASDFSDA</div>
<div class="col-33">Village/Town/City</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">State/Province/District</div>
<div class="col-32">ASDFSDF</div>
<div class="col-33">State/Province/District</div>
</div>                  


<!-- family details -->
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">                            
<div class="col-11">Family  Details</div>                           
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;"> 
<div class="col-312 style34" style="color:#F2772B;text-align:center"> Father's Details
</div>                       
<div class="col-33">
</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Name </div>                        
<div class="col-32">ASDF</div>
<div class="col-33">Applicant's Father Name</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Nationality</div>                        
<div class="col-32">
ALBANIA                         
</div>
<div class="col-33">Father's Nationality</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Previous Nationality</div>                        
<div class="col-32">                             

</div>
<div class="col-33">Previous Nationality of Father</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Place of birth </div>
<div class="col-32">ASDF</div>
<div class="col-33">Place of birth</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Country of birth </div>                        
<div class="col-32">                            
ALGERIA  
</div>
<div class="col-33">Country of birth</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;"> 
<div class="col-312 style34" style="color:#F2772B;text-align:center"> Mother's Details
</div>                       
<div class="col-33">
</div>
</div>

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Name </div>                        
<div class="col-32">ASDFASDF</div>
<div class="col-33">Applicant's Mother Name</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Nationality</div>                        
<div class="col-32">
AMERICAN SAMOA                            
</div>
<div class="col-33">Mother's Nationality</div>
</div>        
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Previous Nationality</div>                        
<div class="col-32">                             

</div>
<div class="col-33">Previous Nationality of Mother</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Place of birth </div>                        
<div class="col-32">ASDFSADF</div>
<div class="col-33">Place of birth</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Country of birth </div>                        
<div class="col-32">
ANDORRA 

</div>
<div class="col-33">Country of birth</div>
</div>       

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">                            
<div class="col-11">&nbsp; <!--spouse details --></div>                           
</div>              
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Applicant's Marital Status </div>                        
<div class="col-32">
                   

MARRIED 




</div>
<div class="col-33">Applicant´s Marital Status</div>
</div>

<div class="row spouseDetailsRow"> 
<div class="col-312 style34" style="color:#F2772B;text-align:center"> Spouse's Details
</div>                       
<div class="col-33">
</div>
</div>
<div class="row spouseDetailsRow" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Name </div>                        
<div class="col-32">ASDFSDF</div>
<div class="col-33">Applicant's Spouse Name</div>
</div>
<div class="row spouseDetailsRow" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Nationality</div>                        
<div class="col-32">
ALAND ISLANDS 

</div>
<div class="col-33">Spouse's Nationality</div>
</div>     
<div class="row spouseDetailsRow" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Previous Nationality</div>                        
<div class="col-32">                             
                       
</div>
<div class="col-33">Previous Nationality of Spouse</div>
</div>
<div class="row spouseDetailsRow" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Place of birth </div>                        
<div class="col-32">ASDFSDF</div>
<div class="col-33">Place of birth</div>
</div>
<div class="row spouseDetailsRow" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Country of birth </div>                        
<div class="col-32">
ANDORRA                        
</div>
<div class="col-33">Country of birth</div>
</div>  


<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-312">Were your Grandfather/ Grandmother (paternal/maternal) Pakistan Nationals or Belong to Pakistan held area.

NO
</div>                       
<div class="col-33">
Were your Grandfather / Grandmother (paternal/maternal) Pakistan Nationals or belong to Pakistan held area? Yes / No
</div>
</div> 

<!-- occupation details -->
<div class="row"> 
<div class="col-11">
Profession / Occupation Details of Applicant                   
</div>  
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Present Occupation</div>            
<div class="col-32">
CHARTERED ACCOUNTANT
</div>
<div class="col-33">If Others,please specify</div>
</div>


<div class="row occDetaisOf" style="display:none">
<div class="col-31">Occupation details of</div> 
<div class="col-32">


</div>
<div class="col-33"></div>
</div>


<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Employer Name/business </div>                        
<div class="col-32">ASDFSDF</div>
<div class="col-33">Employer Name / Business</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Designation </div>                        
<div class="col-32"></div>
<div class="col-33">Designation</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Address </div>                        
<div class="col-32">ASDFDSFSDF</div>
<div class="col-33">Address</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Phone </div>                        
<div class="col-32"></div>
<div class="col-33">Phone</div>
</div>

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Past Occupation, if any</div>            
<div class="col-32">
NA

</div>
<div class="col-33">Past Occupation, if any</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-312">Are/were you in a Military/Semi-Military/Police/Security. Organization? 
YES
</div> <!-- not in database -->                      
<div class="col-33">
If yes,give details
</div>
</div> 

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Organization </div>                        
<div class="col-32">ADSFSADF</div>
<div class="col-33">Organization</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Designation </div>                        
<div class="col-32">SAFDSD</div>
<div class="col-33">Designation</div>
</div>   
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Rank </div>                        
<div class="col-32">FSDFSDFSDF</div>
<div class="col-33">Rank</div>
</div>   
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory"> Place of Posting </div>                        
<div class="col-32">SDFSDFSDF</div>
<div class="col-33"> Place of Posting</div>
</div>     



<!-- Visa Details -->
<div class="row">                            
<div class="col-11">Details of Visa Sought&nbsp;</div>                           
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Visa Type</div>
<div class="col-32 text-bold">e-Visa</div>
<div class="col-33"></div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Visa Service</div>
<div class="col-32 text-bold">eTOURIST VISA</div>
<div class="col-33"></div>
</div>

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory ">Places to be visited1</div>
<div class="col-32"> ASDFSDF</div>
<div class="col-33"></div>
</div>                        


<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory ">Places to be visited2</div>
<div class="col-32"> sadfsdf</div>
<div class="col-33"></div>
</div>                        



<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Duration of Visa</div>
<div class="col-32 text-bold">60 Days                               
</div>
<div class="col-33"></div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">No. of Entries </div>
<div class="col-32 text-bold">Double                            
</div>
<div class="col-33"></div>
</div>




<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Purpose of Visit</div>
<div class="col-32 text-bold">

RECREATION/SIGHT-SEEING <br>

</div>
<div class="col-33"></div>
</div>

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Expected Date journey </div>
<div class="col-32">25/11/2017</div>
<div class="col-33"></div>
</div>
<!--- fix this -->


<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Port of Arrival in India </div>
<div class="col-32 text-bold">BENGALURU AIRPORT                              
</div>
<div class="col-33"></div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31">Port of Exit from India </div>
<div class="col-32 text-bold">
</div>
<div class="col-33"></div>
</div>


<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">                            
<div class="col-11">Previous Visa/Currently valid Visa Details</div>                           
</div>

<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Have you ever visited India before?</div>
<div class="col-32">
YES

</div>
<div class="col-33">If Yes Please give Details</div>
</div>

<div class="row prv_visit_details_row">
<div class="col-31 mandatory">Address</div>
<div class="col-32">ASDFSDF</div>
<div class="col-33"></div>
</div>
<div class="row prv_visit_details_row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31"></div>
<div class="col-32">ASDFSD   </div>
<div class="col-33"></div>
</div> 
<div class="row prv_visit_details_row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31"></div>
<div class="col-32">FSADF</div>
<div class="col-33"></div>
</div> 
<div class="row prv_visit_details_row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Cities previously visited in India</div>
<div class="col-32">SDFSDFSDF</div>
<div class="col-33">Cities in India visited (comma separated)</div>
</div> 
<div class="row prv_visit_details_row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Last Indian Visa No/Currently valid Indian Visa No.</div>
<div class="col-32">SDFFSDF</div>
<div class="col-33">Last Indian Visa no / Currently valid Visa no</div>
</div> 
<div class="row prv_visit_details_row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Old Visa Type</div>
<div class="col-32">
STUDENT VISA
</div>
<div class="col-33">Type of Visa</div>
</div>
<div class="row prv_visit_details_row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Old Visa Issue Place</div>
<div class="col-32">ASDFSDF</div>
<div class="col-33">Place of Issue</div>
</div>
<div class="row prv_visit_details_row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Old Visa Issue Date</div>
<div class="col-32">09/07/2017</div>
<div class="col-33">Date of Issue</div>
</div>


<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-312">Has permission to visit or to extend stay in India previously been refused? 
Yes , ASDF

<div class="col-33"></div>
</div>    
</div>
<div class="row">                            
<div class="col-11">Other Information</div>                           
</div>    
<div class="row">
<div class="col-31">Countries Visited in Last 10 years</div>
<div class="col-32">ASDFSFDS</div>
<div class="col-33"></div>
</div>
<div class="row">                            
<div class="col-11">SAARC Country Visit Details</div>                           
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-312">Have you visited SAARC countries (except your own country) during last 3 years?
Yes                           
</div>                       
<div class="col-33"></div>
</div> 



<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-3a text-bold">Name of SAARC country</div>
<div class="col-3b text-bold">Year</div>
<div class="col-3c text-bold">No. of visits</div>
<div class="col-3d">                               
</div>  
<div class="col-33"></div>    
</div>
          
<div class="row" id="saarc_row1">
<div class="col-3a">                                     
BHUTAN
</div>
<div class="col-3b">                                       
2015
</div>
<div class="col-3c">
12
</div>
<div class="col-3d">
&nbsp;&nbsp;
</div>
<div class="col-33"></div>
</div>





<div class="row">                            
<div class="col-11">Reference</div>                           
</div> 
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Reference Name in India</div>
<div class="col-32">ASDFSDF</div>
<div class="col-33">Reference Name and Address in India </div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Address</div>
<div class="col-32">ASDFSDF</div>
<div class="col-33"></div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31"></div>
<div class="col-32">SADFSDF</div>
<div class="col-33"></div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Phone</div>
<div class="col-32">2342432434</div>
<div class="col-33">Phone no</div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Reference Name in ICELAND</div>
<div class="col-32">SDFASDFSD</div>
<div class="col-33">Reference Name and Address in ICELAND </div>
</div>  
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31 mandatory">Address</div>
<div class="col-32">3SDFASFDSAFSSD</div>
<div class="col-33"></div>
</div>
<div class="row" style="border-bottom:1px solid #CCCCCC; padding-bottom:12px;">
<div class="col-31"></div>
<div class="col-32">SADFSDF</div>
<div class="col-33"></div>
</div>
<div class="row">
<div class="col-31 mandatory">Phone</div>
<div class="col-32">78978666</div>
<div class="col-33">Phone no</div>
</div>




<div class="row">
<div class="col-11 text_center" style="background-color:transparent; margin-bottom:20px;">
<input name="submit_btn" type="submit" class="btn btn-primary" id="continue" value="Verified and Continue">
<input name="submit_btn" type="submit" class="btn btn-primary1" id="continue" value="Modify">                            
</div>                        
</div>
    </div>