<div class="global-form form5">
    <div class="pageHeading1 text_center">
Upload Photograph
<a href=""><img align="right" src="../../assets/images/home.png" style=" width: 30px; height:26px; margin-top:4px; margin-right:5px; "></a>
</div>
<div class="row" style="text-align:center; padding-left:220px;">
<div class="col-31">Choose the Photo To Upload</div>
<!--div class="col-32"><input name='appl.image'  type="file" id="image_error_id">   </div-->
<div class="col-32">


        <!-- <angular-file-uploader 
        [config]="afuConfig"
        [resetUpload]=resetVar
        (ApiResponse)="DocUpload($event)">
  </angular-file-uploader>  -->
<input type="file" name="appl.image" value="" id="image_error_id">


</div>
<div class="col-33"></div>
</div> 
<div class="row">
<div class="col-11 text_center" style="background:transparent">
<input name="submit_btn" type="submit" class="btn btn-primary" id="continue" value="Upload Photo">

<input name="submit_btn" type="submit" class="btn btn-primary" id="exit" value="Exit" title="Exit">
</div>                        
</div>
<div class="row text_center" style="font-size:14px;color:#3873E0;font-weight: bold">
<br>
Temporary Application Id:-<span class="red_heading text_bold">112415013343KZL</span> <br>
Kindly ensure that the photo is as per specifications mentioned below.<br>In case you are not ready for photo upload
you can do it later, Please note down the Temporary Application Id ,<br>
close the window and Press Save and Exit . <br>You can complete your application later using Complete Partially Filled Form option on home page.
<br>
</div>
<div class="row" style="padding:20px; background-color:#FFFF99; width:70%;">
<strong style="font-size:14px; font-weight:bold; display:block; padding-left:25px;">Photo Specifications</strong>
<ul class="tvoa_instructions" style="line-height:20px; padding:0 80px">
<li>Format  JPEG </li>
<li>Size  Minimum 10 KB , Maximum 1 MB</li>
<li>The minimum dimensions are 350 pixels (width) x 350 pixels (height).</li>
<li>Recent front facing photograph with white background to be uploaded by the applicant.</li>
<li>Do not crop the Passport Image to use it as your recent photograph. Upload clear front facing photograph with preferable white/light coloured background.</li>
<li class="text_important">The application is liable to be rejected if the uploaded  photograph are not clear and as per specification.</li>
</ul>
</div>



    </div>



    <div class="global-form form6">
        <div class="pageHeading1 text_center">
Upload Photograph
<a href=""><img align="right" src="../../assets/images/home.png" style=" width: 30px; height:26px; margin-top:4px; margin-right:5px; "></a>
</div>

<div class="text_center" style="line-height:23px;">
<br>
The Photo uploaded for Temporary
Application Id:- <span class="red_heading text_bold">112415013343KZL</span>
<br>
<br>
<img src="../../assets/images/pic-avtar.png" class="image-last">
<br>
<input name="submit_btn" type="submit" class="btn btn-primary" value="Save and Continue" (click)="goToNext()">
<input name="submit_btn" type="submit" class="btn btn-primary" value="Upload Image Again">
<input name="submit_btn" type="submit" class="btn btn-primary" id="exit" value="Save and Temporarily Exit" title="Save and Register Later">
</div>

        </div>